{% load static %}
<!DOCTYPE html>
<head>
    <title>MOVIESTO</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="topbar">
        <nav>
            <ul class="topnav">
                <li><a class="lin" href="index">HOME</a></li>
                <li><a class="lin" href="index#about">ABOUT</a></li>
                <li><a class="lin" href="team">TEAM</a></li>
                <li><a class="lin" href="index#service">SERVICE</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <form action="register" method="POST" class="signup">
            {% csrf_token %}
            <label>Username:</label>
            <input type="text" name="username" class="signtext" placeholder="Your username..."/>
            <label>Email:</label>
            <input type="email" name="email"  class="signtext" placeholder="Your email..."/>
            <label>Password:</label>
            <input type="password" name="password"  class="signtext" placeholder="Your password..."/>
            <label>Repeat Password:</label>
            <input type="password" name="password2"  class="signtext" placeholder="Repeat password..."/>
            <input type="submit" class="signbutton" value="Sign up!"/>

        </form>
        {% for message in messages %}
        <div class="signerror">{{message}}</div>
        {% endfor %}
    </div>
</body>